
.test{
    height: 400px;
    width: 450px;
    background: gray;
    margin: 4rem 10rem;
    padding: 1rem;
}

fieldset{
    display: block;
    position: relative;
    width: 100%;
    border: 2px solid rgb(34, 170, 147);
    margin-bottom: 1rem;
    transition: all .3s;
}

fieldset input{
    padding: 1rem 1rem;
	background: transparent;
	width: 100%;
	color: var(--primary-color);
	border: none;
	font-weight: 500;
	font-size: 16px;
}

fieldset legend{
    position: absolute;
	top: 1.8rem;
	left: 1rem;
	color: var(--primary-color);
	font-weight: 500;
	font-size: 16px;
	pointer-events: none;
	transition: all .5s;
    /* background: red; */
    line-height: 0;
    padding: 0rem 0.5rem;
    transition: all .3s;
}

fieldset:focus-within legend{
    position: relative;
    font-size: 12px;
    top: 0rem;
	left: 0rem;
}