@media screen and (min-width: 1601px) {
    .home_profile {
        margin-right: 0px;
    }
}

@media screen and (max-width: 1399px) {

    /* home */
    .home_profile {
        margin-right: 0px;
        height: 500px;
        width: 500px;
    }

    .home_content>div:nth-child(1) div:nth-of-type(1) h2 {
        font-size: 45px;
    }

    /* home */

    /* about */
    .about_content {
        gap: 5rem;
    }

    .about_profile {
        width: 500px;
    }

    /* about */

    /* services */
    .content_card {
        justify-content: space-between;
        gap: 3rem;
    }

    /* services */

    /* contact */
    .content_contact {
        gap: 5rem;
    }

    /* contact */
}

@media screen and (max-width: 1279px) {

    .titles {
        font-size: 36px;
    }

    /* header */
    .logo {
        font-size: 22px;
    }

    .navbar ul {
        gap: 3rem;
    }

    .navbar ul li a {
        font-size: 14px;
    }

    .theme {
        width: 80px;
        height: 38px;
    }

    /* header */

    /* home */
    .home_content {
        padding: 10rem 5rem 100px;
    }

    .home_profile {
        margin-right: 0px;
        margin-top: 0;
        height: 420px;
        width: 420px;
    }

    .home_content>div:nth-child(1) div:nth-of-type(1) h2 {
        font-size: 40px;
    }

    .home_content>div:nth-child(1) h1 {
        font-size: 22px;
    }

    /* home */

    /* about */
    .about_content {
        gap: 5rem;
    }

    .about_profile {
        width: 480px;
        height: 500px;
    }

    .about_content div:nth-child(2) p {
        max-width: 500px;
        font-size: 14px;
    }

    /* about */

    /* services */
    .svc_card {
        height: 320px;
        width: 320px;
    }

    .svc_back h2 {
        font-size: 20px;
    }

    .svc_back h3 {
        font-size: 16px;
    }

    .svc_back .content1 h3~span i,
    .svc_back .content1 h3~span a {
        font-size: 14px;
    }

    .svc_back .content1 h3~span img {
        width: 16px;
        height: 16px;
        margin-right: 0.5rem;
    }

    .svc_back .content1 {
        align-items: center;
        gap: 1rem;
    }

    .svc_back .content1>div:nth-child(2) {
        padding-left: 1rem;
        font-size: 14px;
    }

    .svc_back .content2 span i,
    .svc_back .content2 span a {
        font-size: 14px;
    }

    .svc_back .content2 {
        justify-content: space-between;
        gap: 1rem;
        margin: 1rem 0 2rem;
        width: 100%;
    }

    .svc_front img {
        margin-bottom: 1.5rem;
        height: 70px;
        width: 70px;
    }

    div>div>div:nth-child(2) .svc_front img {
        margin-top: -1.5rem;
        height: 120px;
        width: 150px;
    }

    .svc_front h2 {
        font-size: 20px;
        margin-bottom: 1.5rem;
    }

    .svc_front p {
        font-size: 12px;
    }

    /* services */

    /* projects */
    .projects_contain {
        padding: 23rem 5rem 100px 5rem;
    }

    .project div:nth-child(2) h2 {
        font-size: 18px;
    }

    .project div:nth-child(2) p:nth-of-type(1),
    .project div:nth-child(2) p:nth-of-type(2) {
        font-size: 14px;
    }

    .project div:nth-child(2) div span {
        font-size: 14px;
    }

    .show_more a {
        font-size: 14px;
    }

    /* projects */

    /* contact */
    .content_contact form {
        width: 500px;
    }

    .content_contact form div:nth-of-type(1) input,
    .content_contact form div:nth-of-type(2) input {
        padding: 0.7rem 1.2rem;
        font-size: 14px;
    }

    .content_contact form div:nth-of-type(1) span,
    .content_contact form div:nth-of-type(2) span {
        top: 0.7rem;
        left: 1.2rem;
        font-size: 14px;
    }

    .content_contact form div:nth-of-type(3) textarea {
        height: 150px;
        padding: 0.7rem 1.2rem;
        font-size: 14px;
        margin-bottom: 1.5rem;
    }

    .content_contact form div:nth-of-type(3) span {
        top: 0.7rem;
        left: 1.2rem;
        font-size: 14px;
    }

    .content_contact form div:nth-of-type(4) .btn2 {
        padding: 0.7rem;
        margin-bottom: 1rem;
    }

    .content_contact form div:nth-of-type(1) input:focus~span,
    .content_contact form div:nth-of-type(2) input:focus~span,
    .content_contact form div:nth-of-type(1) input:valid~span,
    .content_contact form div:nth-of-type(2) input:valid~span,
    .content_contact form div:nth-of-type(3) textarea:focus~span,
    .content_contact form div:nth-of-type(3) textarea:valid~span {
        font-size: 10px;
    }

    .contact_info>h2 {
        margin-bottom: 2rem;
    }

    .contact_info>p {
        font-size: 14px;
    }

    .contact_location i,
    .contact_phone i {
        font-size: 1.5rem;
    }

    .contact_location span p:nth-child(1),
    .contact_phone span p:nth-child(1) {
        font-size: 14px;
    }

    .contact_social h3 {
        font-size: 14px;
    }

    /* contact */

    /* footer */
    .foot_onglets li a {
        font-size: 14px;
    }

    .foot_social li a {
        font-size: 12px;
    }

    .foot_end {
        font-size: 12px;
    }

    /* footer */
}

@media screen and (max-width: 1150px) {

    /* home */

    .home_profile {
        height: 380px;
        width: 380px;
    }

    .home_content>div:nth-child(1) div:nth-of-type(1) h2 {
        font-size: 35px;
    }

    .home_content>div:nth-child(1) h1 {
        font-size: 20px;
    }

    .home_content>div:nth-child(1) p {
        font-size: 14px;
    }

    /* home */

    /* about */
    .about_content {
        gap: 5rem;
        place-items: center;
    }

    .about_profile {
        width: 400px;
        height: 460px;
    }

    .about_infos {
        margin-bottom: 2rem;
    }

    /* about */

    /* services */
    .svc_card {
        height: 280px;
        width: 280px;
    }

    .svc_back h2 {
        font-size: 18px;
    }

    .svc_back h3 {
        font-size: 16px;
    }

    .svc_back .content1 h3~span i,
    .svc_back .content1 h3~span a {
        font-size: 12px;
    }

    .svc_back .content1 h3~span img {
        width: 16px;
        height: 16px;
        margin-right: 0.5rem;
    }

    .svc_back .content1 {
        align-items: center;
        gap: 1rem;
    }

    .svc_back .content1>div:nth-child(2) {
        padding-left: 1rem;
        font-size: 12px;
    }

    .svc_back .content2 span i,
    .svc_back .content2 span a {
        font-size: 12px;
    }

    .svc_back .content2 {
        justify-content: space-between;
        gap: 1rem;
        margin: 1rem 0 2rem;
        width: 100%;
    }

    .svc_front img {
        height: 60px;
        width: 60px;
        margin-bottom: 1rem;
    }

    div>div>div:nth-child(2) .svc_front img {
        margin-top: -1.5rem;
        height: 120px;
        width: 150px;
    }

    .svc_front h2 {
        font-size: 18px;
        margin-bottom: 1.5rem;
    }

    div>div>div:nth-child(2) .svc_front h2 {
        margin-top: -1rem;
    }

    .svc_front p {
        font-size: 10px;
    }

    /* services */

    /* projects */
    .projects_contain {
        padding: 20rem 5rem 100px 5rem;
    }

    /* projects */

    /* contact */
    .content_contact form {
        width: 100%;
        min-width: 420px;
    }

    /* contact */
}

@media screen and (max-width: 1023px) {

    /* home */
    .home_profile {
        height: 320px;
        width: 320px;
    }

    .home_content>div:nth-child(1) div:nth-of-type(1) h2 {
        font-size: 30px;
    }

    .home_content>div:nth-child(1) h1 {
        font-size: 18px;
        margin-bottom: 1.5rem;
    }

    .home_content>div:nth-child(1) p {
        font-size: 12px;
    }

    .btn {
        padding: 6px 20px;
        font-size: 12px;
    }

    .btn2 {
        padding: 6px 20px;
        font-size: 12px;
    }

    .social a {
        height: 30px;
        width: 30px;
        font-size: 14px;
    }

    /* home */

    /* about */
    .about_content {
        gap: 4rem;
    }

    .about_profile {
        width: 360px;
        height: 420px;
    }

    .about_infos {
        gap: 1rem;
    }

    .about_infos div span {
        font-size: 14px;
    }

    /* about */

    /* services */
    .svc_back,
    .svc_front {
        padding: 1.5rem 1.5rem;
    }

    .services_content {
        top: -23rem;
    }

    #services {
        margin-top: -23rem;
    }

    .svc_card {
        height: 260px;
        width: 260px;
    }

    .svc_front img {
        height: 50px;
        width: 50px;
        margin-bottom: 1rem;
    }

    div>div>div:nth-child(2) .svc_front img {
        margin-top: -1.5rem;
        height: 100px;
        width: 120px;
    }

    .svc_back .content1 {
        display: block;
        gap: 0rem;
        margin-bottom: 1rem;
    }

    .svc_back .content1>div:nth-child(1) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 1rem;
    }

    .svc_back .content1>div:nth-child(1) h3 {
        grid-column: 1 / 3;
    }

    .svc_back .content1>div:nth-child(2) {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 0 0.5rem;
        flex-wrap: wrap;
        padding-left: 0rem;
        border: none;
    }

    .svc_back .content1 h3~span i {
        margin-right: 0.5rem;
    }

    .svc_back .content1 h3~span img {
        width: 14px;
        height: 14px;
        margin-right: 0.3rem;
    }

    .svc_back .content2 {
        margin-bottom: 1rem;
    }

    /* services */

    /* projects */

    .project div:nth-child(2) h2 {
        font-size: 20px;
    }

    .project div:nth-child(2) p:nth-of-type(1),
    .project div:nth-child(2) p:nth-of-type(2) {
        font-size: 14px;
    }

    .project div:nth-child(2) div span {
        font-size: 14px;
    }

    .project div:nth-child(1) {
        height: 200px;
    }

    /* projects */

    /* contact */
    .content_contact form {
        width: 100%;
        min-width: 340px;
    }

    /* contact */
}

@media screen and (max-width: 991px) {

    /* header */
    header>div:first-of-type {
        padding: 1rem 3rem;
    }

    .logo {
        font-size: 18px;
    }

    .navbar ul {
        gap: 2rem;
    }

    .navbar ul li a {
        font-size: 12px;
    }

    .theme {
        width: 70px;
        height: 35px;
    }

    .theme::after {
        width: 25px;
        height: 25px;
    }

    .theme i:nth-child(1) {
        font-size: 18px;
    }

    .theme i:nth-child(2) {
        font-size: 18px;
    }

    /* header */

    /* home */
    .home_content {
        padding: 10rem 3rem 100px;
    }

    .home_content>div:nth-child(1) p {
        max-width: 340px;
    }

    /* home */

    /* about */
    .about_content {
        gap: 4rem;
        padding: 100px 3rem 32rem 3rem;
    }

    .about_profile {
        width: 320px;
        height: 400px;
    }

    .about_infos {
        gap: 1rem;
    }

    .about_content div:nth-child(2) p {
        font-size: 12px;
    }

    .about_infos div span {
        font-size: 12px;
    }

    .titles {
        font-size: 32px;
    }

    /* about */

    /* services */
    .services_content {
        padding: 100px 3rem;
    }

    .content_card {
        justify-content: space-between;
        gap: 1.5rem;
    }

    .svc_back h2 {
        margin-bottom: 1rem;
    }

    .svc_back h3 {
        margin-bottom: 0.5rem;
    }

    .svc_back .content2 {
        margin-top: 0;
    }

    /* services */

    /* projects */
    .projects_contain {
        padding: 20rem 3rem 100px;
    }

    /* projects */

    /* contact */
    .content_contact form {
        width: 100%;
        min-width: 340px;
    }

    .content_contact {
        padding: 100px 3rem;
        gap: 3rem;
    }

    /* contact */

    /* footer */
    footer {
        padding: 2rem 3rem;
    }
}

@media screen and (max-width: 874px) {

    /* home */
    .home_profile {
        height: 300px;
        width: 300px;
    }

    .home_content>div:nth-child(1) div:nth-of-type(1) h2 {
        font-size: 28px;
    }

    .home_content>div:nth-child(1) h1 {
        font-size: 18px;
        margin-bottom: 1.5rem;
    }

    .home_content>div:nth-child(1) p {
        max-width: 300px;
    }

    .btn {
        padding: 6px 20px;
        font-size: 12px;
    }

    .social {
        gap: 0.8rem;
    }

    .social a {
        height: 30px;
        width: 30px;
        font-size: 14px;
    }

    .home_content>div:nth-child(1) div:nth-of-type(2) {
        gap: 1.5rem;
    }

    /* home */

    /* about */
    .about_profile {
        width: 300px;
        height: 360px;
    }

    /* about */
}

@media screen and (max-width: 767px) {

    /* header */
    .navbar {
        position: absolute;
        left: 0;
        height: 0;
        width: 100%;
        background: var(--tertiary-color);
        overflow: hidden;
        transition: all .3s;
    }

    .navbar.active {
        height: 300px;

        @media screen and (max-width: 360px) {
            height: 260px;
        }
    }

    .navbar ul {
        display: block;
        width: fit-content;
        margin: 50px auto;
        opacity: 0;
        transition: all .3s;

        @media screen and (max-width: 360px) {
            margin: 30px auto;
        }
    }

    .navbar ul li a {
        display: inline-block;
        font-size: 16px;
        margin-bottom: 1rem;
    }

    #burger {
        display: flex;
    }

    #progress {
        height: 3px;
    }

    /* header */

    /* home */

    .home_content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5rem;
        padding: 10rem 3rem 100px;
    }

    /* home */

    /* about */
    .about_content {
        grid-template-columns: 1fr;
        padding: 80px 2rem 100px 2rem;
    }

    .about_profile {
        width: 300px;
        height: 360px;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    /* about */

    /* services */
    .services_content {
        position: relative;
        top: 0;
        display: block;
        width: 100%;
        background: var(--tertiary-color);
    }

    #services {
        position: absolute;
        margin-top: 0;
        width: 100%;
    }

    .content_card {
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 3rem;
    }

    /* services */

    /* projects */
    .projects_contain {
        padding: 100px 3rem;
    }

    /* projects */

    /* contact */
    .content_contact form {
        width: 100%;
        min-width: 360px;
        grid-row: 2 / 3;
    }

    .content_contact {
        padding: 100px 3rem;
        gap: 3rem;
        grid-template-columns: 1fr;
        width: fit-content;
        /* place-items: center; */
    }

    /* contact */
}

@media screen and (max-width: 500px) {
    .cards_contain {
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }
}

@media screen and (max-width: 480px) {

    /* header */
    header>div:first-of-type {
        padding: 1rem 2rem;
    }

    .logo {
        font-size: 16px;
    }

    .theme {
        width: 60px;
        height: 30px;
        padding: 8px;
    }

    .theme::after {
        width: 22px;
        height: 22px;
    }

    .theme i:nth-child(1) {
        font-size: 16px;
    }

    .theme i:nth-child(2) {
        font-size: 16px;
    }

    #burger {
        height: 24px;
        width: 24px;
    }

    #burger span {
        height: 2px;
        width: 100%;
        background: var(--primary-color);
        transition: all .3s;
    }

    .navbar ul li a {
        font-size: 14px;
    }

    .home_content>div:nth-child(1) div:nth-of-type(1) h2 {
        font-size: 24px;
    }

    .home_content>div:nth-child(1) p {
        font-size: 10px;
    }

    /* header */

    /* home */
    .home_content {
        padding: 7rem 2rem 80px;
    }

    .home_profile {
        height: 280px;
        width: 280px;
    }

    /* home */

    /* services */
    .services_content {
        padding: 100px 1rem;
    }

    .titles {
        margin-bottom: 3rem;
        font-size: 28px;
    }

    /* services */

    /* projects */
    .cards_contain {
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    }

    .projects_contain {
        padding: 100px 2rem;
    }

    .project div:nth-child(2) {
        padding: 1rem 1rem 1.5rem;
    }

    .project div:nth-child(2) h2 {
        font-size: 18px;
    }

    .project div:nth-child(2) p:nth-of-type(1),
    .project div:nth-child(2) p:nth-of-type(2) {
        font-size: 12px;
    }

    .project div:nth-child(2) div span {
        font-size: 12px;
    }

    .show_more a {
        font-size: 12px;
    }

    /* projects */

    /* contact */
    .content_contact form {
        width: 100%;
        min-width: 290px;
        grid-row: 2 / 3;
        padding: 1.5rem 1rem;
    }

    .content_contact {
        padding: 100px 2rem;
    }

    .content_contact form div:nth-of-type(1),
    .content_contact form div:nth-of-type(2) {
        margin-bottom: 1.5rem;
    }

    .content_contact form div:nth-of-type(3) textarea {
        height: 120px;
    }

    .content_contact form div:nth-of-type(1) input,
    .content_contact form div:nth-of-type(2) input,
    .content_contact form div:nth-of-type(1) span,
    .content_contact form div:nth-of-type(2) span,
    .content_contact form div:nth-of-type(3) textarea,
    .content_contact form div:nth-of-type(3) span {
        font-size: 12px;
    }

    .content_contact form div:nth-of-type(1) input:focus~span,
    .content_contact form div:nth-of-type(2) input:focus~span,
    .content_contact form div:nth-of-type(1) input:valid~span,
    .content_contact form div:nth-of-type(2) input:valid~span,
    .content_contact form div:nth-of-type(3) textarea:focus~span,
    .content_contact form div:nth-of-type(3) textarea:valid~span {
        font-size: 8px;
    }

    /* contact */

    /* footer */
    footer {
        padding: 2rem 2rem;
    }

    .foot_onglets li a {
        font-size: 12px;
    }

    .foot_social li a {
        font-size: 10px;
    }

    .foot_end {
        font-size: 10px;
    }

    .foot_social,
    .foot_onglets {
        margin-bottom: 1rem;
    }

    .foot_onglets {
        gap: 1rem;
    }

    .foot_end p:nth-of-type(2) {
        font-size: 8px;
    }

    /* footer */
}

@media screen and (max-width: 359px) {

    /* header */
    header>div:first-of-type {
        padding: 0.5rem 1rem;
    }

    #burger {
        height: 23px;
    }

    .logo {
        font-size: 14px;
    }

    .theme {
        width: 50px;
        height: 26px;
        padding: 6px;
    }

    .theme::after {
        width: 18px;
        height: 18px;
    }

    .theme i:nth-child(1) {
        font-size: 14px;
    }

    .theme i:nth-child(2) {
        font-size: 14px;
    }

    .navbar ul li a {
        font-size: 12px;
        padding-bottom: 2px;
    }

    /* header */

    /* home */
    .home_content>div:nth-child(1) div:nth-of-type(2) {
        flex-direction: column;
        align-items: start;
    }

    .home_content>div:nth-child(1) div:nth-of-type(1) h2 {
        font-size: 22px;
    }

    .home_content {
        padding: 5rem 1rem 50px;
        gap: 3rem;
    }

    .home_profile {
        height: 200px;
        width: 200px;
    }

    /* home */

    /* about */
    .about_content {
        padding: 50px 1rem 50px 1rem;

    }

    .about_profile {
        width: 200px;
        height: 260px;
        grid-row-start: 2;
        grid-row-end: 3;
        margin: 0 auto;
    }

    .titles {
        font-size: 20px;
        margin-bottom: 2rem;
    }

    .about_content>div:nth-of-type(2)>div:nth-of-type(2) {
        flex-wrap: wrap;
        gap: 1.5rem;
        justify-content: start;
    }

    .about_infos {
        display: flex;
        flex-direction: column;
    }

    /* about */

    /* services */
    .services_content {
        padding: 50px 1rem;
    }

    /* services */

    /* projects */
    .cards_contain {
        grid-template-columns: repeat(auto-fit, minmax(208px, 1fr));
    }

    .projects_contain {
        padding: 50px 1rem;
    }

    .project div:nth-child(2) {
        padding: 1rem 1rem 1.5rem;
    }

    .project div:nth-child(2) h2 {
        font-size: 16px;
        margin-bottom: 0.5rem;
        line-height: 1.2;
    }

    .project div:nth-child(2) p:nth-of-type(1),
    .project div:nth-child(2) p:nth-of-type(2) {
        font-size: 10px;
        margin-bottom: 0.5rem;
    }

    .project div:nth-child(2) div span {
        font-size: 10px;
    }

    .project div:nth-child(1) {
        height: 150px;
    }

    .show_more a {
        font-size: 10px;
    }

    #projects {
        margin-top: -50px;
    }

    /* projects */

    /* contact */
    .content_contact form {
        width: 100%;
        min-width: 200px;
        grid-row: 2 / 3;
        padding: 1.5rem 1rem;
    }

    .content_contact {
        padding: 50px 1rem;
    }

    .content_contact form div:nth-of-type(1),
    .content_contact form div:nth-of-type(2) {
        margin-bottom: 1.5rem;
    }

    .content_contact form div:nth-of-type(3) textarea {
        height: 100px;
    }

    .content_contact form div:nth-of-type(1) input,
    .content_contact form div:nth-of-type(2) input,
    .content_contact form div:nth-of-type(1) span,
    .content_contact form div:nth-of-type(2) span,
    .content_contact form div:nth-of-type(3) textarea,
    .content_contact form div:nth-of-type(3) span {
        font-size: 10px;
    }

    /* contact */

    /* footer */

    footer {
        padding: 2rem 1rem;
    }

    .foot_social,
    .foot_onglets {
        flex-wrap: wrap;
        justify-content: center;
    }

    .foot_onglets {
        gap: 0 1rem;
    }

    .foot_social {
        gap: 0;
    }

    /* footer */
}